
<section id="features" class="text-center">
  <div class="row">
      <div class="col-lg-6  d-block d-lg-flex">
          <div class="features-col">
              
              <img src="../../assets/fast-delivery-icon-free-vector.jpg">
              
              <h3 class="font-weight-bold">Fast delivery</h3>
              <p>We collect percel from home and deliver to home.
                  So you can choose us for your order.
              </p>
          </div>
      </div>
      <div class="col-lg-6  d-block d-lg-flex">
          <div class="features-col">
            
              <img src="../../assets/trust.png">
              <h3 class="font-weight-bold">Trustable courier</h3>
              <p>We assure the most secure and safety of your percels.And our rider is secure and safe.
              </p>
          </div>
      </div>
  </div>
  <div class="row">
     
      <div class="col-lg-6 d-block d-lg-flex">
          <div class="features-col">
             <img src="../../assets/take-step.png">
              
              <h3 class="font-weight-bold">Take step on complain</h3>
              <p>We take step immidiatle according our customer's complain
                We take step immidiatle accordin 
              </p>
          </div>
      </div>
      <div class="col-lg-6 d-block d-lg-flex">
          <div class="features-col">
             <img src="../../assets/customer-support.jpg">
              
              <h3 class="font-weight-bold">24 Hours helpline care</h3>
              <p>Our customer care are available at whole day 24 hours.
                  You can call us for any information

              </p>
          </div>
      </div>
  </div>
  <br>
<br>
<br>
<br>
</section>
