
 -->
<div class="home-content">
    <div style="margin-left: 100px; margin-right: 100px; margin-top: 20px; ">
        <br>
        <br>
        <br>
        <form name="form">
            <h3 class="fw-normal mb-3 pb-3"><B style="font-size: 25px;"><u>Product
                        Charge Information</u></B></h3>

            <div class="row" style="margin-top: -30px;">

                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                        <label class="form-label" for="prodcuttypeid">Sender Address</label>
                        <br>
                        <b class="form-control 
                       form-control-lg">Dhaka</b>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="Productnameid">Reciver Address</label>
                        <b class="form-control 
                        form-control-lg">Khulna</b>

                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">

                        <label class="form-label" for="productwidthid">Product Squre Foot</label>
                        <b class="form-control 
                        form-control-lg">50 ft</b>

                    </div>

                </div>

                <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">

                        <label class="form-label" for="productheightid">Product Weight </label>
                        <b class="form-control 
                        form-control-lg">50 kg</b>
                    </div>

                </div>


            </div>






            <div class="row" style="margin-top: -30px;">
                
                <div class="col-md-6 mb-4">
                    <br>
                    <br>
                    <label class="form-label" for="productheddi">
                        <h3>Your Charge Amount</h3>
                    </label><br>

                    <label class="form-label" for="productheddi">
                        <h5>Payment Method</h5>
                    </label>

                    <label class="form-control">

                        <input style="height: 22px; width: 22px;" type="radio" name="payment" id="genderid" class=""
                            value="Sender Cash On Payment" />
                        <b style="font-size: 20px;"> &nbsp; Sender Cash On Payment</b>
                        &nbsp;
                        <input style="height: 22px; width: 22px;" type="radio" name="payment" id="genderid" class=""
                            value="Sender Cash On Payment" />
                        <b style="font-size: 20px;"> &nbsp; Reciver Cash On Payment</b>
                        &nbsp;

                    </label>
                </div>
                
            </div>

            <div class="row" style="margin-top: -30px;">
                <div class="col-md-6 mb-4">
                    <label class="form-control">

                        <input style="height: 22px; width: 22px;" type="radio" name="payment" id="genderid" class=""
                            value="Bkash" />
                        <b style="font-size: 20px;"> &nbsp; Bkash</b>
                        &nbsp;
                        <input style="height: 22px; width: 22px;" type="radio" name="payment" id="genderid" class=""
                            value="Rocket" />
                        <b style="font-size: 20px;"> &nbsp; Rocket</b>
                        &nbsp;
                        <input style="height: 22px; width: 22px;" type="radio" name="payment" id="genderid" class=""
                            value="Nagadh" />
                        <b style="font-size: 20px;"> &nbsp; Nagadh</b>
                        &nbsp;

                    </label>
                </div>
            </div>

            <div class="row" style="margin-top: -30px;">
                <div class="col-md-6 mb-4">
                    <label class="form-control">

                        <input style="height: 22px; width: 22px;" type="radio" name="payment" id="genderid" class=""
                            value="Sender Cash On Payment" />
                        <b style="font-size: 20px;"> &nbsp; Sender Cash On Payment</b>
                        &nbsp;
                        <input style="height: 22px; width: 22px;" type="radio" name="payment" id="genderid" class=""
                            value="Sender Cash On Payment" />
                        <b style="font-size: 20px;"> &nbsp; Reciver Cash On Payment</b>
                        &nbsp;

                    </label>
                </div>
            </div>



            <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg" routerLink="/ProductChargeDetails">ConfirmRegistration</button>
            </div>

        </form>

    </div>
    <br>
    <br>


</div>