
<section id="about-me">
  <div class="home-content">
  <div class="section-title">
   <p> </p> <p> </p>
    <h1 class="text-center"> About us </h1>
    <hr class="">

  </div>
  <div class="row">
    <h3 style="text-align: center;">About board members</h3><p></p>
    <div class="col-lg-4">
      <div class="basic-desc">
        <i class="icon-style rounded-circle fa-8x fa-solid fa-address-card"></i>
       
        <h4>CEO : Muhammad Abdul Kadir</h4>
       <p></p>
       <i class="fa-solid fa-phone"> 01625906986</i><p></p>
      </div>

    </div>

    <div class="col-lg-4">
      <div class="basic-desc">
        <i class="icon-style rounded-circle fa-8x fa-solid fa-address-card"></i>

        
        <h4>CEO : Ashraful Islam</h4>
        <i class="fa-solid fa-phone"> 01625906986</i><p></p>
       
      </div>

    </div>
    <div class="col-lg-4">
      <div class="basic-desc">
        <i class="icon-style rounded-circle fa-8x fa-solid fa-address-card"></i>     
        <h4>Co-ordinator : Ruhul Alom</h4>
        <i class="fa-solid fa-phone"> 01625906986</i>
      </div>

    </div>

  </div>
  </div>
</section>
