
<div class="home-content" >
  <br>
    <br>
    <br>
    
  <div style="margin-left: 100px; margin-right: 200px; margin-top: 30px;">
    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" ><b>Branches List</b></h3>
    <table class="table"> 
      <thead>
        <tr >

          <th scope="col">Bramch Name</th>
          <th scope="col">District Name</th>
          <th scope="col">Thana Name</th>
          <th scope="col">Area Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of form">

          <td>{{v.branchName}}</td>
          <td>{{v.districtName}}</td>
          <td>{{v.thanaName}}</td>
          <td>{{v.areaName}}</td>
          <td>{{v.email}}</td>
          <td>{{v.phoneNumber}}</td>
        </tr>
      
    </table>

  </div>

 
    
   
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  