<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">


                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form style="width: 23rem;">

                        <h3 class="fw-normal mb-3 pb-3" ><B style="font-size: 25px;">Product
                                Reciver Information</B></h3>

                       

                        <div class="form-outline mb-4">

                            <label style="font-size: 20px;" class="form-label" for="form2Example18"><b>Name</b></label>
                            <input type="text" id="form2Example18" placeholder="Name"
                                class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">

                            <label style="font-size: 20px;" class="form-label" for="form2Example18"><b>Gender</b></label>
                            <br>
                                <input type="radio" name="gender" id="" value="Male"> <b style="font-size: 17px;"> Male &nbsp;&nbsp;&nbsp;</b>
                                <input type="radio" name="gender" id="" value="Female"> <b style="font-size: 17px;"> Female &nbsp;&nbsp;&nbsp;</b>
                                <input type="radio" name="gender" id="" value="Others"> <b style="font-size: 17px;"> Others </b>
                        </div>

                        <div class="form-outline mb-4">

                            <label style="font-size: 20px;" class="form-label" for="form2Example28"><b>Age</b></label>
                            <input type="email" id="form2Example28" placeholder="Age"
                                class="form-control form-control-lg" />
                        </div>
                        <div class="form-outline mb-4">

                            <label style="font-size: 20px;" class="form-label" for="form2Example28"><b>Mobile </b></label>
                            <input type="tel" id="form2Example28" placeholder="Mobile"
                                class="form-control form-control-lg" />
                        </div>
                        <div class="form-outline mb-4">

                            <label style="font-size: 20px;" class="form-label" for="form2Example28"><b>Address:</b></label>
                           
                            <br>
                            <label style="font-size: 20px;" class="form-label" for="form2Example28"><b>  &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;District :</b></label> &nbsp;
                                <select name="" id="">
                                    <option value="Dhaka"> Dhaka</option>
                                    <option value="Dhaka"> Chittogram</option>
                                    <option value="Dhaka"> Khulna</option>
                                </select>
                            <br>
                            <label style="font-size: 20px;" class="form-label" for="form2Example28"><b>  &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;Thana :</b></label> &nbsp;
                                <select name="" id="">
                                    <option value="Dhaka"> Dhaka</option>
                                    <option value="Dhaka"> Chittogram</option>
                                    <option value="Dhaka"> Khulna</option>
                                </select>
                            
                            <br>
                            <label style="font-size: 20px;" class="form-label" for="form2Example28"><b>  &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;House No :</b></label> &nbsp;
                               <input type="text" name="" id="">
                            
                        </div>

                        <div class="pt-1 mb-4">
                            <button routerLink="/ProductChargeDetails" class="btn btn-info btn-lg btn-block" type="button"><b style="font-size: 20px;">Next
                                    </b></button>
                        </div>





                    </form>

                </div>

            </div>

        </div>
    </div>

</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
